<!doctype html>

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>auienrst</title>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery.ui.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery.asmselect.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.asmselect.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.datepick.css') }}" />
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  {% block script %}{% endblock %}
	</head>

	<body>
