<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>auienrst</title>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.9.1.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.ui.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='zebra_datepicker.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.multi-select.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.quicksearch.js') }}"></script>


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='multi-select.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">

  {% block script %}{% endblock %}
    </head>

    <body>

<div class=page>
  <h1>Skilpad</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('upload_file') }}">Upload Address Book</a> | 
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>

{% include "foot.html" %}

