{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  {% for addr in addresses %}
    <li><h2>{{ addr.lastname }} {{ addr.firstname}}</h2>{{ addr.address|safe }}
  {% else %}
    <li><em>Unbelble.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
