{% extends "layout.html" %}

{% block script %}



	<script type="text/javascript">

		$(document).ready(function() {


			$('#data').multiSelect({
			  selectableHeader: "<input type='text' class='search-input' autocomplete='o' placeholder='Search'>",
			  selectionHeader: "<span class='search-input-none' >Ordre de visite</span><br/>",
			  afterInit: function(ms){
				var that = this,
					$selectableSearch = that.$selectableUl.prev(),
					selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)';

				that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
				.on('keydown', function(e){
				  if (e.which === 40){
					that.$selectableUl.focus();
					return false;
				  }
				});
			  },
			  afterSelect: function(){
				this.qs1.cache();
			  },
			  afterDeselect: function(){
				this.qs1.cache();
			  }
			});


            $('#date').Zebra_DatePicker({
				disabled_dates: ['* * * 0,6']
            });
		});

function validateForm()
{
var x=document.forms["entry"]["date"].value;
var y=document.forms["entry"]["data"].value;
if (!x)
  {
  alert("Select a date");
  return false;
  }
}
	</script>

{% endblock %}


{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry name="entry" onsubmit="return validateForm();">
      <dl>
        <dt>Date</dt><dd><input id="date" name="date" type="text" required ></dd>
		<dt>Patient</dt><dd>
			<dd>
			<select id="data" multiple="multiple" name="data" title="Ajouter un patient" required >
                        <option selected="selected"></option>
					{% for i in addresses %}
                        <option>{{ i.lastname }} {{ i.firstname }}</option>
					  {% endfor %}
			</select>
			</dd>

        <dd><input type=submit value=Enregistrer>
      </dl>
    </form>

	  <ul class=entries>
	  {% for entry in entries %}
		<li><h2>{{ entry.date }}</h2>{{ entry.data|safe }}
	  {% else %}
		<li><em>Unbelievable.  No entries here so far</em>
	  {% endfor %}
	  </ul>
  {% endif %}
{% endblock %}
